<% layout('/layouts/default.html', {title: '摄像头管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(svCamera.isNewRecord ? '新增摄像头' : '编辑摄像头')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${svCamera}" action="${ctx}/camera/svCamera/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="cameraCode"/>
				<#form:hidden path="isNewRecord"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('摄像头设备ID')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceId" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('摄像头设备名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('摄像头设备MAC')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceMac" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('排序')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sort" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('位置')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="position" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="1000" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('电视机管理')}</h4>
				<div class="ml10 mr10">
					<table id="svTvDataGrid"></table>
					<% if (hasPermi('camera:svCamera:edit')){ %>
						<a href="#" id="svTvDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('camera:svCamera:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化电视机管理DataGrid对象
$("#svTvDataGrid").dataGrid({

	data: ${toJson(svCamera.svTvList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'tvCode', editable:true, hidden:true},
		{header:'${text('摄像头主键')}', name:'cameraCode.cameraCode', editable:true, hidden:true},
		{header:'${text('编号')}', name:'tvNumber', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text('名称')}', name:'tvName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text('位置')}', name:'position', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text('视频ID')}', name:'videoId', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text('视频名称')}', name:'videoName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text('备注')}', name:'remarks', width:150, editable:true, edittype:'textarea', editoptions:{'maxlength':'1000', 'class':'form-control', 'rows':'1'}},
        {header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
                var actions = [];
                if (val == 'new'){
                    actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#svTvDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
                }else{
                    actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#svTvDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
                }
                return actions.join('');
            }, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#svTvDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {tvCode: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'svTvList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,tvCode,cameraCode.cameraCode,tvNumber,tvName,position,videoId,videoName,remarks,createBy,createDate,updateBy,updateDate,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

$(function() {
    setInputReadonly($('#svTvDataGrid input[name=videoId]'));
    $('#svTvDataGrid').on('DOMNodeInserted', function() {
        setInputReadonly($('#svTvDataGrid input[name=videoId]'));
    });
})

var setInputReadonly = function(node) {
    $(node).each(function(index, item){
        $(item).attr('readonly', 'true');
    });
}

// 视频列表
$('#svTvDataGrid').on('click', function(e) { // e是事件event
    var targetName = $(e.target).attr('name');                                   //得到列的name
    var targetId   = $(e.target).attr('id');                                       //得到列的ID
    if(targetId.indexOf('_') > -1) {
        var targetArr  = targetId.split('_');
        var rowId      = targetArr[0];
    } else {
        var rowId      = targetId;
    }
    if (targetName.indexOf("videoName") > -1) {
        var colName = ['videoId', 'videoName'];
        var url = "${ctx}/sv/video/videoSelect";
        var callback = function (val, paramName) {
            if (paramName == 'videoId') {
                $('#' + rowId + '_videoId').val(val);
            } else if (paramName == 'videoName') {
                $('#' + rowId + '_videoName').val(val);
            }
        }
        clickToOpenWindow(url, colName, rowId, callback, '视频列表');
    }
});

var clickToOpenWindow = function(url, colName, trId, callback, title){
    if ($("#documentsCodeButton").hasClass("disabled")){
        return true;
    }
    var selectData = {},
        boxWidth = $(top.window).width() - 100,
        boxHeight = $(top.window).height() - 100;
    boxWidth = boxWidth < 350 ? 350 : boxWidth;
    boxHeight = boxHeight < 250 ? 250 : boxHeight;
    if(typeof listselectGetSelectData == 'function'){
        selectData = listselectGetSelectData('sku'); // 如果你需要打开其他的列表，你得自己定义一个code，目前的话是打开耗材的列表
    }
    var options = {
        type: 2, // 弹窗类型，2是iframe，content必须是url，一个正常显示的页面
        maxmin: true,
        shadeClose: true,
        title: title,
        area: [boxWidth+'px', boxHeight+'px'],
        content: url,
        contentFormData: {
            checkbox: 'false',
            selectData: js.encodeUrl(JSON.stringify(selectData))
        },
        success: function(layero, index){
            if ($(js.layer.window).width() < boxWidth
                || $(js.layer.window).height() < boxHeight){
                js.layer.full(index);
            }
        },
        btn: ['<i class="fa fa-check"></i> 确定'],
        btn1: function(index, layero){
            var win = js.layer.iframeWindow(index);
            selectData = win.getSelectData();
            if(typeof listselectCheck == 'function'){
                if (!listselectCheck('sku', selectData)){
                    return false;
                }
            }
            // 点击确定，获取用户选择数据
            if(typeof listselectSetSelectData == 'function'){
                listselectSetSelectData('sku', selectData);
            }

            try { $('#sku,#goodsName').valid(); }catch(e){}

            /** 传值到目标表单 START */
            var colCount = selectData.length; // 行数

            for (var index in selectData) { // selectData 是弹窗后选中的值
                var subItem = selectData[index]; //
                for(var subIndex in subItem) {

                    for(var colIndex in colName) { // 要替换的值的input name属性

                        if(subIndex == colName[colIndex]) { // 将列名称数组遍历，填充值, subIndex是选中数据的属性
                            var selector = '#' + trId + '_' + colName[colIndex];
                            var val = subItem[subIndex];
                            if(callback) { // 如果有callback，执行callback去处理
                                callback(val, subIndex);
                            } else { // 如果没有，直接用selector的定位去赋值
                                $(selector).val(val);
                            }
                        }

                    }
                }
            }
            /** END */

        }
    };
    options.btn.push('<i class="fa fa-close"></i> 关闭');
    options['btn'+options.btn.length] = function(index, layero){
        if(typeof listselectCallback == 'function'){
            listselectCallback('sku', 'cancel', index, layero);
        }
    };
    js.layer.open(options);
};


</script>