<% layout('/layouts/default.html', {title: '人员管理管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(dingUser.isNewRecord ? '新增人员管理' : '编辑人员管理')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${dingUser}" action="${ctx}/fz/ding/dingUser/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="userid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('钉钉唯一标识关注者身份的id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="openid" maxlength="225" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('成员名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="225" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('分机号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tel" maxlength="45" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('办公地点')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="workPlace" maxlength="125" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="remark" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机号码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mobile" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('员工的电子邮箱')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="email" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('员工的企业邮箱')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orgEmail" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否已经激活, true已激活, false未激活')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="active" maxlength="1" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('在对应的部门中的排序, Map结构的json字符串')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orderinDepts" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否为企业管理员, true是, false不是')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isAdmin" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否为企业的老板, true表示是, false表示不是')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isBoss" maxlength="1" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('在当前isv全局范围内唯一标识一个用户的身份')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="unionid" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('在对应的部门中是否为主管')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isLeaderInDepts" maxlength="1" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否号码隐藏, true隐藏, false不隐藏')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isHide" maxlength="1" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('成员所属部门id列表')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="department" maxlength="225" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('职位信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="position" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('头像url')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="avatar" maxlength="325" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('入职时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="hiredDate" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('员工工号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="jobnumber" maxlength="225" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('扩展属性，可以设置多种属性')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="extattr" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('角色id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="roleid" maxlength="225" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机号码区号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stateCode" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否是高管')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="isSenior" maxlength="1" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('js_ding_department')}</h4>
				<div class="ml10 mr10">
					<table id="dingDepartmentDataGrid"></table>
					<% if (hasPermi('ding:dingUser:edit')){ %>
						<a href="#" id="dingDepartmentDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
				<h4 class="form-unit">${text('角色管理')}</h4>
				<div class="ml10 mr10">
					<table id="dingRoleDataGrid"></table>
					<% if (hasPermi('ding:dingUser:edit')){ %>
						<a href="#" id="dingRoleDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('ding:dingUser:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化js_ding_departmentDataGrid对象
$("#dingDepartmentDataGrid").dataGrid({

	data: ${toJson(dingUser.dingDepartmentList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'departmentId.userid', editable:true, hidden:true},
		{header:'${text('部门id')}', name:'departmentId.userid', editable:true, hidden:true},
		{header:'${text('部门名称')}', name:'name', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('父部门id，根部门为1')}', name:'parentid', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('在父部门中的次序值')}', name:'order', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('是否同步创建一个关联此部门的企业群')}', name:'createDeptGroup', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1', 'class':'form-control digits'}},
		{header:'${text('是否有新人加入部门会自动加入该群')}', name:'autoAddUser', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1', 'class':'form-control digits'}},
		{header:'${text('是否隐藏部门, true表示隐藏, false表示显示')}', name:'deptHiding', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1', 'class':'form-control digits'}},
		{header:'${text('可以查看指定隐藏部门的其他部门列表')}', name:'deptPermits', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'500', 'class':'form-control'}},
		{header:'${text('可以查看指定隐藏部门的其他人员列表')}', name:'userPermits', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		{header:'${text('outer_dept')}', name:'outerDept', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1', 'class':'form-control digits'}},
		{header:'${text('本部门的员工仅可见员工自己为true时')}', name:'outerPermitPepts', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		{header:'${text('本部门的员工仅可见员工自己为true时')}', name:'outerPermitUsers', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		{header:'${text('企业群群主')}', name:'orgDeptOwner', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('部门的主管列表')}', name:'deptManagerUseridList', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'500', 'class':'form-control'}},
		{header:'${text('部门标识字段')}', name:'sourceIdentifier', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'500', 'class':'form-control'}},
		{header:'${text('部门群是否包含子部门')}', name:'groupContainSubdept', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'1', 'class':'form-control digits'}},
		{header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#dingDepartmentDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#dingDepartmentDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#dingDepartmentDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {departmentId.userid: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'dingDepartmentList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,departmentId.userid,name,parentid,order,createDeptGroup,autoAddUser,deptHiding,deptPermits,userPermits,outerDept,outerPermitPepts,outerPermitUsers,orgDeptOwner,deptManagerUseridList,sourceIdentifier,groupContainSubdept,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
//初始化角色管理DataGrid对象
$("#dingRoleDataGrid").dataGrid({

	data: ${toJson(dingUser.dingRoleList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'roleId.userid', editable:true, hidden:true},
		{header:'${text('角色唯一标识ID')}', name:'roleId.userid', editable:true, hidden:true},
		{header:'${text('角色名称')}', name:'roleName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('角色分组名称')}', name:'groupName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'225', 'class':'form-control'}},
		{header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#dingRoleDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#dingRoleDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#dingRoleDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {roleId.userid: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'dingRoleList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,roleId.userid,roleName,groupName,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>