<% layout('/layouts/default.html', {title: '图片评价表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('图片评价表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('taobao:taobaoEvaluate:edit')){ %>
					<a href="${ctx}/taobao/taobaoEvaluate/form" class="btn btn-default btnTool" title="${text('新增图片评价表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${taobaoEvaluate}" action="${ctx}/taobao/taobaoEvaluate/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('商品id')}：</label>
					<div class="control-inline">
						<#form:input path="productId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发布时间')}：</label>
					<div class="control-inline">
						<#form:input path="publishTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('内容')}：</label>
					<div class="control-inline">
						<#form:input path="content" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发布人')}：</label>
					<div class="control-inline">
						<#form:input path="authorName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发布级别')}：</label>
					<div class="control-inline">
						<#form:input path="authorLevel" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商品规格')}：</label>
					<div class="control-inline">
						<#form:input path="productSku" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('卖家评价内容')}：</label>
					<div class="control-inline">
						<#form:input path="sellerReplyContent" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('评价内容')}：</label>
					<div class="control-inline">
						<#form:input path="appendContent" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updateTime" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('商品id')}', name:'productId', index:'a.product_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/taobao/taobaoEvaluate/form?productId='+row.productId+'&publishDate='+row.publishDate+'&authorName='+row.authorName+'" class="btnList" data-title="${text('编辑图片评价表')}">'+(val||row.id)+'</a>';
		}},
        {header:'${text('发布时间时间戳')}', name:'publishDate', index:'a.publish_date', hidden:true, width:150, align:"center"},
		{header:'${text('发布时间')}', name:'publishTime', index:'a.publish_time', width:150, align:"center"},
		{header:'${text('内容')}', name:'content', index:'a.content', width:150, align:"left"},
		{header:'${text('发布人')}', name:'authorName', index:'a.author_name', width:150, align:"left"},
		{header:'${text('发布级别')}', name:'authorLevel', index:'a.author_level', width:150, align:"left"},
		{header:'${text('商品规格')}', name:'productSku', index:'a.product_sku', width:150, align:"left"},
		{header:'${text('评价发布时间')}', name:'appendPublishTime', index:'a.append_publish_time', width:150, align:"center"},
		{header:'${text('评价间隔')}', name:'appendInterval', index:'a.append_interval', width:150, align:"left"},
		{header:'${text('评价内容')}', name:'appendContent', index:'a.append_content', width:150, align:"left"},
		{header:'${text('更新时间')}', name:'updateTime', index:'a.update_time', width:150, align:"center"},
		// {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('taobao:taobaoEvaluate:edit')){ %>
		// 		actions.push('<a href="${ctx}/taobao/taobaoEvaluate/form?pkey='+row.pkey+'" class="btnList" title="${text('编辑图片评价表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
		// 		actions.push('<a href="${ctx}/taobao/taobaoEvaluate/delete?pkey='+row.pkey+'" class="btnList" title="${text('删除图片评价表')}" data-confirm="${text('确认要删除该图片评价表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	<% } %>
		// 	return actions.join('');
		// }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>