<% layout('/layouts/default.html', {title: '商品分类表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('商品分类表管理')}
			</div>
			<div class="box-tools pull-right">
				<!--<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>-->
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<!--<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>-->
				<% if(hasPermi('product:productCategory:edit')){ %>
					<a href="${ctx}/product/productCategory/form?isNewRecord=true" class="btn btn-default btnTool" title="${text('新增商品分类表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productCategory}" action="${ctx}/product/productCategory/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">审核状态：</label>
					<div class="control-inline width-120">
						<#form:select path="procategoryStatus" dictType="procategory_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">分类名称：</label>
					<div class="control-inline">
						<#form:input path="categoryName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<div id="mask"><span style="text-align: center"></span></div>
<style>
	#mask{
		display: none;
		background-color: rgba(0,0,0,0.3);
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		position: absolute;
		top:0;
		left:0;
		z-index: 9999;
	}

	.big{
		width: 700px;
		height: 700px;
		margin: 0 auto;
	}

</style>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'分类', name:'categoryName', index:'a.category_name',width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/product/productCategory/form?procategoryCode='+row.procategoryCode+'" class="btnList" data-title="${text('编辑商品分类表')}">'+(val||row.id)+'</a>';
		}},
        {header:'序号', name:'treeSort', index:'a.tree_sort', width:150, align:"center"},
		{header:'状态', name:'procategoryStatus', index:'a.procategory_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('procategory_status')}, val, '${text('未知')}', true);
		}},
		{header:'创建时间', name:'createDate', index:'a.create_date', width:150, align:"center"},
        {header:'创建人', name:'createBy', index:'a.create_by', width:150, align:"center"},
        {header:'修改时间', name:'updateDate', index:'a.update_date', width:150, align:"center"},
        {header:'修改人', name:'createBy', index:'a.update_by', width:150, align:"center"},
        {header:'图片', name:'imgPath', sortable:false, index:'a.update_date', width:70, align:"center",
            formatter: function(val, obj, row, act){
                if(row.imgPath==null){
                    return "";
                }
                else{ return  "<img src='"+val+"' class=\"thumbnail\" onclick=\"getVal('"+val+"')\" height=\"80\" width=\"80\"/>"}
            }
        },
		{header:'${text('操作')}', name:'actions', align:"center",width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('product:productCategory:edit')){ %>
				actions.push('<a href="${ctx}/product/productCategory/form?procategoryCode='+row.procategoryCode+'" class="btnList" title="${text('编辑商品分类表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/product/productCategory/delete?procategoryCode='+row.procategoryCode+'" class="btnList" title="${text('删除商品分类表')}" data-confirm="${text('确认要删除该商品分类表及所有子商品分类表吗？')}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'procategoryStatus,categoryName,status,remarks,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
var valp;
function getVal(val){
    valp = val;
}
$(document).on("click",".thumbnail",function() {
    //点击弹出全屏遮罩层
    showMask("#mask", "");
    $("#mask").append("<div><img src="+valp+" class='big'></div>");
    $(".big").bind("click", function () {
        hideMask("#mask");
        $(".big").remove();
    })
})
function showMask(ele,words){
    $(ele).show().text(words).css({
        "width":$(window).width()+"px",
        "height":$(window).height()+"px",
        "lineHeight":$(window).height()+"px"
    })
}
function hideMask(ele){
    $(ele).hide();
}
</script>