<% layout('/layouts/default.html', {title: '质检单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('质检单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('fgcqualitycheck:qualityCheck:delete')){ %>
				<a href="javascript:void(0)" id="asDelBtn" class="btn btn-sm btn-primary btnList" title="${text('删除质检单')}"> ${text('删除')}</a>
				<% } %>
				<!--<% if(hasPermi('fgcqualitycheck:qualityCheck:edit')){ %>-->
				<!--<a href="${ctx}/fgcqualitycheck/qualityCheck/form" class="btn btn-default btnTool" title="${text('新增质检单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<!--<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${qualityCheck}" action="${ctx}/fgcqualitycheck/qualityCheck/listData" method="post" class="form-inline"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">单据编号：</label>
				<div class="control-inline">
					<#form:input path="billno" maxlength="64" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">单据状态：</label>
				<div class="control-inline">
					<#form:input path="documentStatus" maxlength="10" class="form-control width-120"/>
				</div>
			</div>
			<!--<div class="form-group">-->
			<!--<label class="control-label">质检时间：</label>-->
			<!--<div class="control-inline">-->
			<!--<#form:input path="qualityTime" class="form-control width-120"/>-->
			<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<label class="control-label">质检组：</label>
				<div class="control-inline">
					<#form:input path="qcGroupName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">采购组：</label>
				<div class="control-inline">
					<#form:input path="purchasingGroupName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">供应商：</label>
				<div class="control-inline">
					<#form:input path="supplierName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">预约时间类型：</label>
				<div class="control-inline width-120">
					<#form:select path="reservationTimeType" dictType="fgc_reservation_time_type" blankOption="true" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">采购员：</label>
				<div class="control-inline">
					<#form:input path="purchaserName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">质检员：</label>
				<div class="control-inline">
					<#form:input path="qualityInspectorName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">预约时间：</label>
				<div class="control-inline">
					<#form:input path="date_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){date_lte.click()}});"/>
					&nbsp;--&nbsp;
					<#form:input path="date_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'质检单号', name:'billno', index:'a.billno', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/fgcqualitycheck/qualityCheck/form?fid='+row.fid+'" class="btnList" data-title="${text('编辑质检单')}">'+(val||row.id)+'</a>';
                }},
            {header:'单据状态', name:'documentStatus', index:'a.document_status', width:150, align:"left"},
            // {header:'质检时间', name:'qualityTime', index:'a.quality_time', width:150, align:"center"},
            {header:'质检组', name:'qcGroupName', index:'a.qc_group_name', width:150, align:"left"},
            {header:'采购组', name:'purchasingGroupName', index:'a.purchasing_group_name', width:150, align:"left"},
            {header:'供应商', name:'supplierName', index:'a.supplier_name', width:150, align:"left"},
            {header:'预约时间', name:'reservationTime', index:'a.reservation_time', width:150, align:"center"},
            {header:'预约时间类型', name:'reservationTimeType', index:'a.reservation_time_type', width:150, align:"center"},
            {header:'采购员', name:'purchaserName', index:'a.purchaser_name', width:150, align:"left"},
            {header:'质检员', name:'qualityInspectorName', index:'a.quality_inspector_name', width:150, align:"left"},
            {header:'备注', name:'remarks', index:'a.remarks', width:150, align:"left"},
            {header:'创建时间', name:'createTime', index:'a.create_time', width:150, align:"center"},
            // {header:'创建用户Id', name:'creatorId', index:'a.creator_id', width:150, align:"left"},
            {header:'创建用户', name:'creatorName', index:'a.creator_name', width:150, align:"left"},
            {header:'修改时间', name:'modifyTime', index:'a.modify_time', width:150, align:"center"},
            // {header:'修改用户Id', name:'modifierId', index:'a.modifier_id', width:150, align:"left"},
            {header:'修改用户', name:'modifierName', index:'a.modifier_name', width:150, align:"left"},
            {header:'行数据', name:'rowData', hidden:true, formatter: function(val, obj, row, act){
                    return JSON.stringify(row);
                }}
            // {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
            // 	var actions = [];
            // 	<% if(hasPermi('fgcqualitycheck:qualityCheck:edit')){ %>
            // 		actions.push('<a href="${ctx}/fgcqualitycheck/qualityCheck/form?fid='+row.fid+'" class="btnList" title="${text('编辑质检单')}"><i class="fa fa-pencil"></i></a>&nbsp;');
            // 		actions.push('<a href="${ctx}/fgcqualitycheck/qualityCheck/delete?fid='+row.fid+'" class="btnList" title="${text('删除质检单')}" data-confirm="${text('确认要删除该质检单吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
            // 	<% } %>
            // 	return actions.join('');
            // }}
        ],
        shrinkToFit: false,
        autoScroll: true,
        autowidth: true,
		showCheckbox:true,
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });

    $('#asDelBtn').click( function(e){

        // 获取所有被选中订单
        var orderArr = $('#dataGrid :checkbox:checked'),
            temp = []   // 当前被选中的订单
        if(orderArr.length>0){
            for(var i = 0; i<orderArr.length; i++){
                var a = $(orderArr[i]).attr('name').replace(/jqg_dataGrid_/g,'')
                temp.push(a)
            }
            var str = temp.join(',')
            layer.confirm('确定删除吗？', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function (index, layero) {
                $.ajax({
                    async: false,
                    url: '${ctx}/fgcqualitycheck/qualityCheck/deleteDb?fid=' + str,
                    success: function (result) {
                        var obj = JSON.parse(result);
                        if (obj.result == 'true') {
                            js.showMessage(obj.message)
                            window.location.reload()
                        } else {
                            js.showMessage(obj.message)
                        }
                    }
                })

            }, function(index){
                //按钮【按钮二】的回调
            });
		}
    });
</script>