<% layout('/layouts/default.html', {title: '初选提名记录表管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(wishPrimary.isNewRecord ? '新增初选提名记录表' : '编辑初选提名记录表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${wishPrimary}" action="${ctx}/fz/wish/wishPrimary/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="userId"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('提名人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nomineeBy" maxlength="64" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('工号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="jobNumber" maxlength="10" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('岗位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="position" maxlength="64" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('部门')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="department" maxlength="64" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('提名时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="createTime" class="form-control" dataFormat="datetime" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('初选被提名记录表')}</h4>
				<div class="width-960" style="position:relative;left:200px;width:400px;">
					<table id="wishPrimaryDetailDataGrid"></table>
					<!--<% if (hasPermi('wish:wishPrimary:edit')){ %>-->
						<!--<a href="#" id="wishPrimaryDetailDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>-->
					<!--<% } %>-->
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('wish:wishPrimary:edit')){ %>
							<!--<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;-->
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
//初始化初选被提名记录表DataGrid对象
$("#wishPrimaryDetailDataGrid").dataGrid({

	data: ${toJson(wishPrimary.wishPrimaryDetailList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'detailCode', editable:true, hidden:true},
		{header:'${text('用户名')}', name:'userId.userId', editable:true, hidden:true},
		{header:'${text('被提名人')}', name:'userName', width:150, editable:true, sortable:false, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('工号')}', name:'jobNumber', width:100, editable:true, sortable:false, edittype:'text', editoptions:{'maxlength':'10', 'class':'form-control'}},
		{header:'${text('岗位')}', name:'position', width:150, editable:true, sortable:false, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('部门')}', name:'department', width:150, editable:true, sortable:false, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('提名理由')}', name:'reason', width:410, editable:true, sortable:false, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		// {header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	if (val == 'new'){
		// 		actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#wishPrimaryDetailDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	}else{
		// 		actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#wishPrimaryDetailDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	}
		// 	return actions.join('');
		// }, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: false,				// 是否是编辑表格
	editGridInitRowNum: 0,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#wishPrimaryDetailDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {detailCode: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'wishPrimaryDetailList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,detailCode,userId.userId,nomineedBy,jobNumber,position,department,departmentId,reason,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>