<% layout('/layouts/default.html', {title: '梵赞消息推送管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(fzMessageManage.isNewRecord ? '新增梵赞消息推送' : '编辑梵赞消息推送')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${fzMessageManage}" action="${ctx}/message/fzMessageManage/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="pkey"/>
				<#form:hidden path="isNewRecord"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('接收用户')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:listselect path="touser" labelPath="touserName" id="userSelect" title="用户选择" checkbox="true"
								url="${ctx}/fz/ding/dingUser/userSelect" itemCode="userid" itemName="name" allowClear="true"  class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('应用id')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="agendId" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('消息提示文案')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="title" maxlength="500" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('会话框文案')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="text" maxlength="1000" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('跳转页面路径')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="singleurl" maxlength="400" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('页面跳转显示标题')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="singletitle" maxlength="500" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('成功失败信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="1000" class="form-control"/>
							</div>
						</div>
					</div>
				</div>-->
				<!--<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('推送状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="result" maxlength="1" class="form-control" readonly="true"/>
							</div>
						</div>
					</div>
				</div>-->
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('message:fzMessageManage:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存 并 推 送 消 息')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
// $(function(){
//     $('#touserName').click(function (){
//         $('#userSelectName').click();
// 	})
//
// })
// function listselectCallback(id, action, index, layero,selectData){
//     if (id == 'userSelect' && action == 'ok'){
//
//         if (selectData){
//             var userSelectCode=$('#userSelectCode').val();
//             var userSelectName=$('#userSelectName').val();
//             $('#touserName').val(userSelectName);
//             $('#touser').val(userSelectCode);
//         }
//     }
//
// }

</script>