<% layout('/layouts/default.html', {title: '导购活动表管理', libs: ['validate','ueditor','fileupload','dataGrid']}){ %>
<style>
	.form-unitHd span {
		margin-right: 20px;
		color: #999a9b;
		cursor: pointer;
	}

	.form-unitHd span.on {
		color: #6379bb;
	}
</style>
<style>
	.form-unitD span {
		margin-right: 20px;
		color: #999a9b;
		cursor: pointer;
	}

	.form-unitD span.on {
		color: #6379bb;
	}

	#imgUpLoadBox{margin: 10px 15px;border: 1px solid #d2d2d2;position: relative;padding: 0;background-color: #fcfcfc;box-shadow: inset 0 3px 30px rgba(0,0,0,.05);border-color: #e5e5e5 #eee #eee;border-style: solid;border-width: 1px 0;float: left;}
	#imgUpLoadBox .itemList{overflow: hidden;;vertical-align: top;margin: 10px;width: 250px;height: 300px;background:#ececed;;border:1px solid #dfdfdf;position: relative;display: inline-block;*display: inline;*zoom: 1;}
	#imgUpLoadBox .itemList .btn{position: absolute;top: 50%;left: 50%;margin-top: -16px;margin-left: -60px;border: 0;background: none repeat scroll 0 0 #fff;border-radius: 3px;color: #565656;cursor: pointer;font-size: 14px;padding: 0 18px;text-align: center;line-height: 32px;height: 32px;}
	#imgUpLoadBox .itemList .imgFile{position: absolute;width: 100%;height: 100%;opacity: 0;filter:Alpha(opacity=0);z-index: 10;}
	#imgUpLoadBox .itemList img{width: 250px;height: 300px;display: none}
	#imgUpLoadBox .itemList .file_del{background-color: #f22d2d}
	.photoShow{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background-color: rgba(000, 000, 000, 0.7);z-index: 100;overflow: hidden;overflow-y: auto;}
	.photoShow .close{position: absolute;right: 3%;top: 1%;display: block;width: 60px;height: 60px;opacity: 0.5;filter:Alpha(opacity=50);z-index: 50;}
	.photoShow .close img{width: 100%;height: 100%;}
	.photoShow .close:hover{opacity: 1;filter:Alpha(opacity=100);}
	.photoShow .cont{position: absolute;display: table-cell;vertical-align: middle;width: 100%;text-align: center;color: #edeaea;top: 200px;}
	.photoShow .cont .img{max-width: 1024px;margin-bottom: 200px}

	.hoverBg{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		text-align: center;
		z-index: 10;
		padding-top: 132px;
		display: none;
		padding-left: 44px;
	}
	.hoverBg span {
		background: none repeat scroll 0 0 #3c8dbc;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 14px;
		margin-left: 10px;
		padding: 0 18px;

		text-align: center;
		line-height: 34px;
		transition: background .2s;
		-moz-transition: background .2s;
		-webkit-transition: background .2s;
		-o-transition: background .2s
	}

	.hoverBg span:hover {background: none repeat scroll 0 0 #367fa9}


</style>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(guideActivity.isNewRecord ? '新增导购活动表' : '编辑导购活动表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${guideActivity}" action="${ctx}/guide/guideActivity/save" method="post" class="form-horizontal">
		<div class="box-header">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<% if (hasPermi('guide:guideActivity:edit')){ %>
					<button type="button" class="btn btn-sm btn-primary" onclick="uploadFile.subFrom()"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" style="display: none"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<% } %>
					<% if (hasPermi('guide:guideActivity:export')){ %>
					<button type="button" class="btn btn-sm btn-primary" id="btnExport"><i class="fa fa-check"></i> ${text('导出评论')}</button>&nbsp;
					<% } %>
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
			<div class="box-body">
				<div class="form-unit form-unitHd" id="div1">
					<span class="on">${text('基本信息')}</span>
					<span>${text('操作信息')}</span>
				</div>
				<div class="form-unitTab">
					<div class="item">
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('活动编码')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:hidden path="isNewRecord" id="isNewRecord"/>
										<#form:input path="activityCode" maxlength="255" id="activityCode" readonly="true" class="form-control required"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('活动名称')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="activityName" maxlength="255" class="form-control required"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('状态')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:select path="activityStatus" dictType="goods_shopping_status"
										class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('开始时间')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="startTime" readonly="true" maxlength="20" class="form-control Wdate required"
										dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('结束时间')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="endTime" readonly="true" maxlength="20" class="form-control Wdate required"
										dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});"/>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('备注')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="activityRemarks" maxlength="255" class="form-control"/>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<div class="form-group">
									<label class="control-label col-sm-2" title="">
										<span class="required hide">*</span> ${text('活动介绍')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-10">
										<#form:ueditor path="activityIntroduce"  height="200" class=""
										simpleToolbars="true" readonly="false" outline="false"/>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<div class="form-group">
									<label class="control-label col-sm-2">${text('列表banner')}：</label>
									<div id="imgUpLoadBox">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item" style="display: none">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('创建人')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="createBy" readonly="true" maxlength="64" class="form-control"/>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('创建时间')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="createTime" dataFormat="datetime" readonly="true" class="form-control"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-unit form-unitD">
					<span class="on">${text('评论')}</span>
					<span>${text('常见问题')}</span>
				</div>
				<div class="form-unitTable">
					<div class="item">
						<div class="ml10 mr10">
							<table id="guideCommentDataGrid"></table>
							<!--<% if (hasPermi('guide:guideActivity:edit')){ %>-->
							<!--<a href="#" id="guideCommentDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i-->
							<!--class="fa fa-plus"></i> ${text('增行')}</a>-->
							<!--<% } %>-->
						</div>
					</div>
					<div class="item" style="display: none">
						<div class="ml10 mr10">
							<% if (hasPermi('guide:guideActivity:edit')){ %>
							<a href="#" id="guideFaqDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i
									class="fa fa-plus"></i> ${text('增行')}</a>
							<% } %>
							<table id="guideFaqDataGrid"></table>
						</div>
					</div>
				</div>

				<div class="box-footer">

			</div>
		</#form:form>
	</div>
</div>
<!-- 图片查看背景 -->
<div class="photoShow" style="display: none">
	<a href="javascript:void(0)" class="close"><img src="/static/easyUpload/images/del.png"/></a>
	<div class="cont">
		<img src="" class="img">
	</div>

</div>
</div><div id="mask"><span style="text-align: center"></span></div>
<style>
	#mask{
		display: none;
		background-color: rgba(0,0,0,0.3);
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		position: fixed;
		bottom:0;
		left:0;
		height: 100%;
		z-index: 9999;
	}
	.big{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		-ms-transform: translate3d(-50%,-50%,0);
		-moz-transform: translate3d(-50%,-50%,0);
		-webkit-transform: translate3d(-50%,-50%,0);
		-o-transform: translate3d(-50%,-50%,0);
	}
</style>
<% } %>
<script>
//初始化导购活动评论表DataGrid对象
$("#guideCommentDataGrid").dataGrid({

	data: ${toJson(guideActivity.guideCommentList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
        // {header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
        //         var actions = [];
        //         if (val == 'new'){
        //             actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#guideCommentDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
        //         }else{
        //             actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#guideCommentDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
        //         }
        //         return actions.join('');
        //     }, editoptions: {defaultValue: 'new'}},
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'commentCode', editable:true, hidden:true},
		{header:'${text('活动编码')}', name:'activityCode.activityCode', editable:true, hidden:true},
		{header:'${text('提问人')}', name:'askBy', width:100, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('提问时间')}', name:'askTime', width:100,
			formatter:'date', formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},
			editable:true, edittype:'text', editoptions:{'class':'form-control Wdate', 'readonly':'true',
				dataInit: function(element){ $(element).on('focus', function(){
					WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});
				});
			}}
		},
		{header:'${text('提问人id')}', name:'askId', width:150, hidden:true, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('问题')}', name:'question', width:250, editable:true, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		{header:'${text('回复')}', name:'answer', width:250, editable:true, edittype:'text', editoptions:{'maxlength':'1000', 'class':'form-control'}},
		{header:'${text('回复人')}', name:'answerBy', width:100, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('回复人id')}', name:'answerId', width:150, hidden:true, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text('回复时间')}', name:'answerTime', width:100,
			formatter:'date', formatoptions:{srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s'},
			editable:true, edittype:'text', editoptions:{'class':'form-control Wdate', 'readonly':'true',
				dataInit: function(element){ $(element).on('focus', function(){
					WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});
				});
			}}
		}
	],
	
	// 编辑表格参数
	editGrid: false,				// 是否是编辑表格
	editGridInitRowNum: 0,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#guideCommentDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {commentCode: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'guideCommentList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,commentCode,activityCode.activityCode,askBy,askTime,askId,question,answer,answerBy,answerId,answerTime,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
//初始化导购常见问题回答DataGrid对象
$("#guideFaqDataGrid").dataGrid({

	data: ${toJson(guideActivity.guideFaqList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'faqCode', editable:true, hidden:true},
        {header:'${text('操作')}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
                var actions = [];
                if (val == 'new'){
                    actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#guideFaqDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
                }else{
                    actions.push('<a href="#" onclick="js.confirm(\'${text('你确认要删除这条数据吗？')}\', function(){$(\'#guideFaqDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'})});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
                }
                return actions.join('');
            }, editoptions: {defaultValue: 'new'}},
		{header:'${text('活动编码')}', name:'activityCode.activityCode', editable:true, hidden:true},
		{header:'${text('问题')}', name:'faqQuestion', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'2000', 'class':'form-control'}},
		{header:'${text('回答')}', name:'faqAnswer', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'2000', 'class':'form-control'}},

	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 0,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#guideFaqDataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {faqCode: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'guideFaqList', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,faqCode,activityCode.activityCode,faqQuestion,faqAnswer,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			var flag = $('#isNewRecord').val();
			if(data.result == Global.TRUE){
			    if (flag == 'true') {
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
				} else {
			        if (data.result == Global.TRUE) {
			            location.reload();
					}
				}
			}
		}, "json");
    }
});
$(function () {
    slidtab();
    slidtable();
})
// tab切换
var slidtab = function(){
    $('.form-unitHd span').click(function(e){
        var _t = $(e.target)
        _t.addClass('on').siblings('span').removeClass('on')
        $('.form-unitTab .item').hide()
        $('.form-unitTab .item').eq(_t.index()).fadeIn()
    });
};
var slidtable = function(){
    $('.form-unitD span').click(function(e){
        var _t = $(e.target)
        _t.addClass('on').siblings('span').removeClass('on')
        $('.form-unitTable .item').hide()
        $('.form-unitTable .item').eq(_t.index()).fadeIn()
        $('.html_content',window.parent.document).css('overflow','visible')
        $('.html_content',window.parent.document).css('overflow','scroll')
        // setTimeout(function(){
        //     $('.html_content',window.parent.document).css('overflow','visible')
        // },1)
    });
};



onloadAddHtml()
function onloadAddHtml(){
    var picInfo = '${picInfo}'  // 故障登记二次返回信息

    var par = $('#imgUpLoadBox'),
        str = ''

    if(picInfo){
        var obj2 = JSON.parse(picInfo),
            numAdd = [];  // 当前坑位是否存在
        var hasStr = false
       var i = 1;
            hasStr = true
            if(hasStr){
                str += '<div class="itemList" data-id="'+obj2.location+'">';
                str += 		'<input id="imgFile_'+obj2.location+'" class="imgFile" baseurl="'+obj2.savePath+'" style="display:none" onchange="uploadFile.upload(this,'+obj2.location+')" aria-invalid="false" type="file">';
                str += 		'<div class="btn" style="display:none">点击图片上传</div>';
                str += 			'<img src="'+obj2.savePath+'" style="display:block">';
                str += 			'<div class="hoverBg" style="display: none;">';
                str += 				'<span class="file_see file_set" onclick="uploadFile.show(this)">查看</span>';
                str += 				'<span class="file_set file_del" hasbase="true" data-code="'+obj2.activityCode+'" onclick="uploadFile.del(this,'+obj2.location+')">删除</span>';
                str += 			'</div>';
                str += '</div>';
            }else{
                str += '<div class="itemList" data-id="'+i+'">';
                str += 		'<input id="imgFile_'+i+'" class="imgFile" baseurl="" onchange="uploadFile.upload(this,'+i+')" aria-invalid="false" type="file">';
                str += 		'<div class="btn">点击图片上传</div>';
                str += 			'<img src="">';
                str += 			'<div class="hoverBg" style="display: none;">';
                str += 				'<span class="file_see file_set" onclick="uploadFile.show(this)">查看</span>';
                str += 				'<span class="file_set file_del" hasbase="" onclick="uploadFile.del(this,'+i+')">删除</span>';
                str += 			'</div>';
                str += '</div>';
            }


        par.html(str)

    }else{
        var id = 1
            str += '<div class="itemList" data-id="'+id+'">';
            str += 		'<input id="imgFile_'+id+'" class="imgFile" baseurl="" onchange="uploadFile.upload(this,'+id+')" aria-invalid="false" type="file">';
            str += 		'<div class="btn">点击图片上传</div>';
            str += 			'<img src="">';
            str += 			'<div class="hoverBg" style="display: none;">';
            str += 				'<span class="file_see file_set" onclick="uploadFile.show(this)">查看</span>';
            str += 				'<span class="file_set file_del" hasbase="" onclick="uploadFile.del(this,'+id+')">删除</span>';
            str += 			'</div>';
            str += '</div>';

        par.html(str)
    }


}







// 图片上传/附件
var uploadFile = {
    addLoadFiles: [],  // 已经上传阿里云
    need_addAliFile : [],  // 需提交阿里云文件
    delloadFile : [],  // 需要删除的文件
    uploadCode : [],   // 提交成功返回
    down : function(t){ // 下载附件
        var id = $(t).attr('rowid');
        var imgSrc = $('#upLoadFile_'+id).attr('srcbase');
        var id2 = $(t).closest('tr').attr('rowid');
        var downName = ''
        var arr = this.need_addAliFile

        if(id.indexOf('jqg')>=0){
            for(var j in arr){
                if(id2 === arr[j].location && arr[j].delType === 'file'){

                    downName = arr[j].name

                    var $a = document.createElement('a');
                    $a.setAttribute("href", imgSrc);
                    $a.setAttribute("download",downName);
                    var evObj = document.createEvent('MouseEvents');
                    evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
                    $a.dispatchEvent(evObj);
                    return false
                }
            }

            return false
        }


        var name2 = ''
        for(var i in arr){
            if(id === arr[i].location && arr[i].delType === 'file'){
                name2 = arr[i].name
            }
        }


        var imgSrc = $('#upLoadFile_'+id).attr('srcbase')
        var $a = document.createElement('a');
        $a.setAttribute("href", imgSrc);
        $a.setAttribute("download",name2);
        var evObj = document.createEvent('MouseEvents');
        evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
        $a.dispatchEvent(evObj);
    },
    del : function(t,dataID){  // 删除图片
        var _t = $(t),
            _this = this,
            par = _t.closest('.itemList')
        hasBase = _t.attr('hasBase'),   // 是否存在数据库
            arr = this.need_addAliFile,
            delArr = this.delloadFile


        js.confirm("你确认要删除", function(){
            if(hasBase){
                delArr.push(_t.attr('data-code'))
                layer.msg('删除成功')
                _t.attr('hasBase','')
                _t.attr('data-code','')
                par.find('.imgFile').val('').attr('baseurl','').show()
                par.find('img').attr('src','').hide()
                par.find('.btn').show()
            }else{
                for(var j in arr){
                    if(dataID === arr[j].location){

                        arr.splice(j,1)
                        par.find('.imgFile').val('').show()
                        par.find('img').attr('src','').hide()
                        par.find('.btn').show()
                        return false
                    }
                }
            }
        })
    },
    show : function(t){  // 查看图片
        var src = $(t).closest('.itemList').find('img').attr('src')
        // $('.photoShow .img').attr('src',src)
        // $('.photoShow').fadeIn()
        //点击弹出全屏遮罩层
        showMask("#mask", "");
        $("#mask").append("<div><a href=\"javascript:void(0)\" style=\"opacity: 1;position: fixed;top: 0;right: 0;\" class=\"close\"><img style=\"width: 5vw;\" src=\"/static/easyUpload/images/del.png\"/></a><img src=\'"+src+"\'  style=\"width: 56%;\"  ></div>");
        $(".big").bind("click",function () {
            return false;
        });
        $("#mask").bind("click", function () {
            hideMask("#mask");
            $(".big").remove();
        })
    },
    upload : function(t,dataID){  // 上传
        var	_this = this;

        var f = t.files[0],
            type = f.type.split('/'),
            par = $(t).closest('.itemList')
        // 限制当前上传类型
        if(type[1] !== 'jpeg' && type[1] !== 'jpg' && type[1] !== 'png'){
            layer.msg('只允许上传.image / .jpeg / .jpg 图片')
            return false
        }

        // 限制当前上传大小
        if (f.size >= 52428800) {
            layer.msg('您这个"' + f.name + '"文件大小过大,请重新上传');
            return false
        }


        //加载
        layer.load(1, {
            title: '上传中...',
            shade: [0.1,'#000'] //0.1透明度的白色背景
        });



        // 图片压缩
        function canvasDataURL(path,imgType,callback){
            var img = new Image();
            img.src = path;


            img.onload = function(){
                var that = this;
                // 默认按比例压缩
                var w = that.width,   // 当前图片宽度
                    h = that.height,  // 当前图片高度
                    scale = w / h;  // 比例


                w = (that.width > 1024 ? 1024 : that.width)
                h = w / scale;

                var quality = 0.7;  // 默认图片质量为0.7
                //生成canvas
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext('2d');
                // 创建属性节点
                var anw = document.createAttribute("width");
                anw.nodeValue = w;
                var anh = document.createAttribute("height");
                anh.nodeValue = h;
                canvas.setAttributeNode(anw);
                canvas.setAttributeNode(anh);
                ctx.drawImage(that, 0, 0, w, h);


                // quality值越小，所绘制出的图像越模糊
                var base64 = canvas.toDataURL(imgType, quality);
                // 回调函数返回base64的值
                callback(base64);
            }
        }


        // 手动添加数据
        var obj = {
            location: dataID,   // 坐标
            name: f.name,
            files: f // 上传文件
        }

        var fileReader = new FileReader()
        fileReader.readAsDataURL(f);

        fileReader.onloadend = function(e) {
            canvasDataURL(e.target.result,f.type,function(base_64){
                $(t).attr('srcbase',base_64)
                par.find('img').attr('src',base_64).show();
            })
        }


        _this.addFile(obj)
        $(t).hide()
        par.find('.btn').hide()
        par.find('img').load(function(){
            layer.closeAll();
        })
    },
    upaliyun: function(callback){  // 上传阿里云
        if(this.need_addAliFile.length === 0){
            callback(200)
            return false
        }
        var _this = this

        // 阿里云上传地址
        var alyData = {
            policy: '',
            OSSAccessKeyId: '',  // 密钥
            success_action_status: "200",  // 状态
            signature: '',  // 签名
            key: '',
            callback: ''  // 回调
        }

        var getData = {
            url: '' // 阿里云地址
        }


        // 获取签名
        $.ajax({
            // url: '${ctx}/a/aliyunimage/amAliyunImage/getPolicy',
            url: 'https://am.uvanart.com/a/aliyunimage/amAliyunImage/getPolicy',
            type: 'GET',
            contentType: 'text/plain;charset=UTF-8',
            dataType: 'json',
            success: function (res) {
                getData.url = res.data.host;
                alyData.policy = res.data.policy;
                alyData.OSSAccessKeyId = res.data.accessId;
                alyData.signature = res.data.signature;
                alyData.key = res.data.dir;
                alyData.callback = res.data.callBack;
                subAliAjax()
            }
        })




        function subAliAjax(){
            if(_this.need_addAliFile.length === 0){
                callback(200);
                return false
            }



            var arr = _this.need_addAliFile
            var dataDay = new Date(),
                dnum = dataDay.getFullYear().toString() + dataDay.getMonth().toString() + dataDay.getDate().toString() + dataDay.getMinutes().toString() + dataDay.getMilliseconds().toString() + dataDay.getSeconds().toString();

            // 提交到阿里云的图片
            var formData = new FormData;
            formData.append('OSSAccessKeyId', alyData.OSSAccessKeyId)
            formData.append('policy', alyData.policy)
            formData.append('Signature', alyData.signature)
            formData.append('key', alyData.key + dnum + arr[0].name)
            formData.append('success_action_status', alyData.success_action_status)
            formData.append('callback', alyData.callback)
            formData.append('file', arr[0].files)
            $.ajax({
                type: "POST",
                url: getData.url,   // 阿里云上传地址
                data: formData,
                processData: false,
                cache: false,
                async: true,
                contentType: false,
                dataType: "json",
                header: {
                    'content-type': "multipart/form-data"
                },
                success: function (res) {
                    if (res.code === 200) {
                        var activityCode = $('#activityCode').val();
                        // 手动添加数据
                        var obj = {
                            location: arr[0].location,
                            activityCode: activityCode,
                            savePath: getData.url+res.data
                        }
                        _this.addLoadFiles.push(obj)
                        _this.need_addAliFile.splice(0,1)
                        subAliAjax()
                    }else{
                        layer.msg('提交失败,请重新尝试')
                        callback(400)
                        return false
                    }
                },
                error: function(res){
                    layer.msg('提交失败,请重新尝试')
                    callback(400)
                    return false
                }
            });


        }

    },
    addFile : function(files){  // 判断数组中是否已存在文并添加
        var hasF = true,
            arr = this.need_addAliFile

        for(var j in arr){
            if((files.location === arr[j].location)){
                arr[j] = files
                hasF = false
                return false
            }
        }

        if(hasF) arr.push(files);
    },
    subFrom : function(){ // 上传图片/文件
        var delArr = this.delloadFile,
            _this = this,
            uploadFileCount = 0, // 当前已经上传文件的总数
            arrLen = this.need_addAliFile.length // 当前一共需要上传多少文件


        // 加载
        layer.load(1, {
            content: '<div id="ReciprocalNum" style="min-width: 100px;position: relative;left: -25px;top: 44px;text-align:center">正在上传</span>',
            shade: [0.1,'#000'] //0.1透明度的白色背景
        });

        if(delArr.length === 0){
            _this.upaliyun(function(code){
                if(code === 200)
                    subAjax()
                else
                    layer.closeAll();
            })
        }else{
            $.ajax({
                url: '${ctx}/guide/guideActivity/deletePicture',
                type: "POST",
                data: JSON.stringify({
                    "activityCode": delArr.join(','),
                }),
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (res) {
                    _this.upaliyun(function(code){
                        if(code === 200)
                            subAjax()
                        else
                            layer.closeAll();
                    })
                },
                error:function(err){
                    layer.msg('删除失败,请重试')
                }
            });
        }


        function subAjax(){
            if(_this.addLoadFiles.length === 0){
                $('#btnSubmit').trigger("click");   // 点击保存
                layer.closeAll();
                return false
            }
            console.log(_this.addLoadFiles)
            $.ajax({
                url: '${ctx}/guide/guideActivity/uploadPicture',
                type: "POST",
                data: JSON.stringify(_this.addLoadFiles),
                dataType:'json',
                contentType:"text/plain;charset=UTF-8",
                success: function (res) {
                    $('#btnSubmit').trigger("click");   // 点击保存
                    layer.closeAll();
                    return false
                },
                error:function(err){
                    for(var name in arr){
                        fail += arr[name].name + ','
                    }
                    layer.alert(fail + '文件提交失败,请更换图片',function() {
                        layer.closeAll();
                    })
                }
            });
        }
    }
}

$(function(){
    $('.wrapper').height($(window).height()-20)

    // 图片预览
    $('#imgUpLoadBox .itemList img').click(function(){
        var par = $(this).closest('.itemList')
        par.find('.hoverBg').fadeIn()
    })
//
    $('#imgUpLoadBox .itemList').hover(function(){},function(){
        $(this).find('.hoverBg').fadeOut()
    })
//
//
    // 预览图片关闭
    $('.photoShow .close').click(function(){
        $('.photoShow').fadeOut()
    })
})

function showMask(ele,words){
    $(ele).show().text(words).css({
        "width":$(window).width()+"px",
        "height":$(window).height()+"px",
        "lineHeight":$(window).height()+"px"
    })
}
function hideMask(ele){
    $(ele).hide();

}
window.onload=function () {
    // 隐藏富文本上传图片的按钮 因为目前是保存在本地 所以隐藏调
    setTimeout(function(){
        $("#edui49_body").css('display','none');
    },1)
}

$('#btnExport').click(function(){
    js.ajaxSubmitForm($('#inputForm'), {
        url:'${ctx}/guide/guideActivity/exportData',
        downloadFile:true
    });
});
</script>