<% layout('/layouts/default.html', {title: '团购信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('团购信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('group:groupPurchase:edit')){ %>
					<!--<a href="${ctx}/group/groupPurchase/form" class="btn btn-default btnTool" title="${text('新增团购信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${groupPurchase}" action="${ctx}/group/groupPurchase/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('团长')}：</label>
					<div class="control-inline">
						<#form:input path="wangCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('团长手机号')}：</label>
					<div class="control-inline">
						<#form:input path="groupPhone" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('同步状态')}：</label>
					<div class="control-inline">
						<#form:input path="synchStatus" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('团长')}', name:'wangCode', index:'a.wang_code', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/group/groupPurchase/form?purchaseCode='+row.purchaseCode+'" class="btnList" data-title="${text('编辑团购信息表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('团长手机号')}', name:'groupPhone', index:'a.group_phone', width:150, align:"center"},
		{header:'${text('创建时间')}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		// {header:'${text('同步状态')}', name:'synchStatus', index:'a.synch_status', width:150, align:"center"},
    <% if(hasPermi('group:groupPurchase:delete')){ %>
		{header:'${text('操作')}', name:'actions', width:50, sortable:false,align:"center", title:false, formatter: function(val, obj, row, act){
			var actions = [];

				// actions.push('<a href="${ctx}/group/groupPurchase/form?purchaseCode='+row.purchaseCode+'" class="btnList" title="${text('编辑团购信息表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/group/groupPurchase/delete?purchaseCode='+row.purchaseCode+'" class="btnList" title="${text('删除团购信息表')}" data-confirm="${text('确认要删除该团购信息表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');

			return actions.join('');
		}}
	<% } %>
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>