<% layout('/layouts/default.html', {title: '商品风格选择', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-body">
            <#form:form id="searchForm" model="${productSeries}" action="${ctx}/product/productSeries/listTreeData" method="post" class="form-inline">
            <div class="form-group">
                <label class="control-label">${text('商品风格名称')}：</label>
                <div class="control-inline">
                    <#form:input path="categoryName" maxlength="50" class="form-control width-120"/>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">查询</button>
                <button type="reset" class="btn btn-default btn-sm">重置</button>
            </div>
        </#form:form>
        <div class="row">
            <div class="col-xs-10 pr10">
                <table id="dataGrid"></table>
                <div id="dataGridPage"></div>
            </div>
            <div class="col-xs-2 pl0">
                <div id="selectData" class="tags-input"></div>
            </div>
        </div>
    </div>
</div>
</div>
<% } %>
<script>
    var selectData = JSON.parse(js.decodeUrl('${selectData}')), selectNum = 0,
        dataGrid = $('#dataGrid').dataGrid({
            searchForm: $("#searchForm"),
            columnModel: [
                {header:'图片', name:'imgPath', sortable:false, index:'a.update_date', width:70, align:"center",
                    formatter: function(val, obj, row, act){
                        if(row.imgPath==null){
                            return "";
                        }
                        else{ return  "<img src='"+val+"' class=\"thumbnail\" onclick=\"getVal('"+val+"')\" height=\"80\" width=\"80\"/>"}
                    }
                },
                {header:'proseriesCode', name:'proseriesCode', index:'a.proseries_code', hidden:true, width:100, align:"center",key:true},
                {header:'风格名称', name:'seriesName', index:'a.series_name',width:150, align:"center", frozen:true},
                {header:'序号', name:'treeSort', index:'a.tree_sort', width:150, align:"center"},
                {header:'状态', name:'proseriesStatus', index:'a.proseries_status', width:150, align:"center", formatter: function(val, obj, row, act){
                        return js.getDictLabel(${@DictUtils.getDictListJson('procategory_status')}, val, '${text('未知')}', true);
                    }},
                {header:'行数据', name:'rowData', hidden:true, formatter: function(val, obj, row, act){
                        return JSON.stringify(row);
                    }},

            ],
            treeGrid: true,
            defaultExpandLevel: 0,	// 默认展开的层次
            expandNodeClearPostData: 'proseriesStatus,seriesName,status,remarks,',
            autoGridHeight: function(){
                var height = $(window).height() - $('#searchForm').height() - $('#dataGridPage').height() - 73;
                $('.tags-input').height($('.ui-jqgrid').height() - 10);
                return height;
            },
            showCheckbox: '${checkbox!}' == 'true',
            multiboxonly: false, // 单击复选框时再多选
            ajaxSuccess: function(data){
                $.each(selectData, function(key, value){
                    dataGrid.dataGrid('setSelectRow', key);
                });
                initSelectTag();
            },
            onSelectRow: function(id, isSelect, event){
                if ('${checkbox!}' == 'true'){
                    if(isSelect){
                        selectItem(JSON.parse(dataGrid.dataGrid('getRowData', id).rowData));
                    }else{
                        unSelectItem(selectData[id]);
                    }
                }else{
                    selectData = {};
                    selectItem(JSON.parse(dataGrid.dataGrid('getRowData', id).rowData));
                }
                initSelectTag();
            },
            onSelectAll: function(ids, isSelect){
                if ('${checkbox!}' == 'true'){
                    for (var i=0; i<ids.length; i++){
                        if(isSelect){
                            selectData[ids[i]] = JSON.parse(dataGrid.dataGrid('getRowData', ids[i]).rowData);
                        }else{
                            delete selectData[ids[i]];
                        }
                    }
                }
                initSelectTag();
            },
            ondblClickRow: function(id, rownum, colnum, event){
                if ('${checkbox!}' != 'true'){
                    js.layer.$('#' + window.name).closest('.layui-layer')
                        .find(".layui-layer-btn0").trigger("click");
                }
                initSelectTag();
            }
        });
    function selectItem(rowData){
        if(!rowData) return;
        var children = rowData.childList;
        if(children && children.length > 0){
            $.each(children, function(idx, child){
                selectItem(child);
            });
        } else
            selectData[rowData.id] = rowData;
    }
    function unSelectItem(rowData){
        if(!rowData) return;
        var children = rowData.childList;
        if(children && children.length > 0){
            $.each(children, function(idx, child){
                unSelectItem(child);
            });
        } else
            delete selectData[rowData.id];
    }
    function initSelectTag(){
        selectNum = 0;
        var html = [];
        $.each(selectData, function(key, value){
            selectNum ++;
            html.push('<span class="tag" id="'+key+'_tags-input"><span>'+value.seriesName+' </span>'
                + '<a href="#" onclick="removeSelectTag(\''+key+'\');" title="取消选择">x</a></span>');
        });
        html.unshift('<div class="title">当前已选择<span id="selectNum">'+selectNum+'</span>项：</div>');
        $('#selectData').empty().append(html.join(''));
    }
    function removeSelectTag(key){
        delete selectData[key];
        dataGrid.dataGrid('resetSelection', key);
        $('#selectNum').html(--selectNum);
        $('#'+key+'_tags-input').remove();
    }
    function getSelectData(){
        return selectData;
    }
    $(function(){
        $("#dataGridPage").hide();
    })
</script>
