<% layout('/layouts/default.html', {title: '抽奖竞猜管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('抽奖竞猜管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('draw:luckDraw:edit')){ %>
					<a href="${ctx}/draw/luckDraw/form" class="btn btn-default btnTool" title="${text('新增抽奖竞猜')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${luckDraw}" action="${ctx}/draw/luckDraw/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('中奖码')}：</label>
					<div class="control-inline">
						<#form:input path="winningCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('')}</label>-->
					<!--<div class="control-inline width-120">-->
						<!--<#form:checkbox path="pushStatus" label="已推送" class="form-control"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('单据时间')}', name:'billTime', index:'a.bill_time', width:150, align:"center"},
		{header:'${text('中奖码')}', name:'winningCode', index:'a.winning_code', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
                return '<a href="${ctx}/draw/luckDraw/form?documentCode='+row.documentCode+'" class="btnList" data-title="${text('编辑抽奖竞猜')}">'+(val||row.id)+'</a>';
            }},
		{header:'${text('中奖人数')}', name:'winnersNum', index:'a.winners_num', width:150, align:"center"},
		{header:'${text('已推送')}', name:'pushStatus', index:'a.push_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text('未知')}', true);
		}}
		// {header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		// {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('draw:luckDraw:edit')){ %>
		// 		actions.push('<a href="${ctx}/draw/luckDraw/form?documentCode='+row.documentCode+'" class="btnList" title="${text('编辑抽奖竞猜')}"><i class="fa fa-pencil"></i></a>&nbsp;');
		// 		actions.push('<a href="${ctx}/draw/luckDraw/delete?documentCode='+row.documentCode+'" class="btnList" title="${text('删除抽奖竞猜')}" data-confirm="${text('确认要删除该抽奖竞猜吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	<% } %>
		// 	return actions.join('');
		// }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>