<% layout('/layouts/default.html', {title: '万店掌门店管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('万店掌门店管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('sv:ovopark:shop:edit')){ %>
					<a href="${ctx}/sv/ovopark/shop/form" class="btn btn-default btnTool" title="${text('新增万店掌门店')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${svOvoparkShop}" action="${ctx}/sv/ovopark/shop/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('门店名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备总数')}：</label>
					<div class="control-inline">
						<#form:input path="deviceCount" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('纬度')}：</label>
					<div class="control-inline">
						<#form:input path="latitude" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('经度')}：</label>
					<div class="control-inline">
						<#form:input path="longitude" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('分数')}：</label>
					<div class="control-inline">
						<#form:input path="score" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店拼音')}：</label>
					<div class="control-inline">
						<#form:input path="pinyin" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('首字母')}：</label>
					<div class="control-inline">
						<#form:input path="pyName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('门店区域')}：</label>
					<div class="control-inline">
						<#form:input path="location" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('销售量')}：</label>
					<div class="control-inline">
						<#form:input path="totalSale" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('门店名称')}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sv/ovopark/shop/form?shopCode='+row.shopCode+'" class="btnList" data-title="${text('编辑万店掌门店')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('设备总数')}', name:'deviceCount', index:'a.device_count', width:150, align:"center"},
		{header:'${text('纬度')}', name:'latitude', index:'a.latitude', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('经度')}', name:'longitude', index:'a.longitude', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('分数')}', name:'score', index:'a.score', width:150, align:"center"},
		{header:'${text('门店拼音')}', name:'pinyin', index:'a.pinyin', width:150, align:"left"},
		{header:'${text('首字母')}', name:'pyName', index:'a.py_name', width:150, align:"left"},
		{header:'${text('门店区域')}', name:'location', index:'a.location', width:150, align:"center"},
		{header:'${text('销售量')}', name:'totalSale', index:'a.total_sale', width:150, align:"center"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('sv:ovopark:shop:edit')){ %>
				actions.push('<a href="${ctx}/sv/ovopark/shop/form?shopCode='+row.shopCode+'" class="btnList" title="${text('编辑万店掌门店')}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>