<% layout('/layouts/default.html', {title: '赞赏记录表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('赞赏记录表管理')}&nbsp;&nbsp;&nbsp;
				<a href="${fzSlideUrl}" class="btnTool" title="${text('滑动数据')}">点我有惊喜</a>
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if (hasPermi('appreciation:fzAppreciationRecord:edit')){ %>
				<div class="btn-group">
					<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-navicon"></i> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出获赞数量信息</a></li>
						<li><a href="javascript:" id="btnExport1"><i class="glyphicon glyphicon-export"></i> 导出赞赏数量和跟赞数量信息</a></li>

						<!--<li><a href="javascript:" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a></li>-->
					</ul>
				</div>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${fzAppreciationRecord}" action="${ctx}/fz/appreciation/fzAppreciationRecord/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<!--<div class="form-group">-->
					<!--<label class="control-label">赞赏记录主键：</label>-->
				<!--</div>-->
				<!--<div class="form-group">-->
					<!--<label class="control-label">获赞者Id：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="praiserId" maxlength="255" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
            <div class="form-group">
                <label class="control-label">获赞者名字：</label>
                <div class="control-inline">
                    <#form:input path="praiserName" maxlength="255" class="form-control width-120"/>
                </div>
            </div>
				<div class="form-group">
					<label class="control-label">赠送者名字：</label>
					<div class="control-inline">
						<#form:input path="presenterName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">理由：</label>
					<div class="control-inline">
						<#form:input path="content" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
			<div class="form-group">
				<label class="control-label">标签：</label>
				<div class="control-inline width-120">
					<#form:select path="tag" id='typeCode' items="${fzAppreciationTypes}"
					itemLabel="typeName" itemValue="typeName" multiple="false" blankOption="true"
					class="form-control required"/>
				</div>
			</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'赞赏记录主键', name:'appreciationCode', index:'a.appreciation_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/fz/appreciation/fzAppreciationRecord/form?appreciationCode='+row.appreciationCode+'" class="btnList" data-title="${text('编辑赞赏记录表')}">'+(val||row.id)+'</a>';
		}},
		{header:'获赞者Id', name:'praiserId', index:'a.praiser_id', width:150, align:"left"},
        {header:'获赞者名字', name:'dingUser.praiserName', index:'b.name', width:150, align:"left"},
        {header:'获赠者部门', name:'praiserDepartment', index:'a.praiser_department',sortable:false, width:150, align:"left"},
		{header:'赠送者id', name:'presenterId', index:'a.presenter_id', width:150, align:"left"},
        {header:'赠送者名字', name:'dingUser.presenterName', index:'c.name', width:150, align:"left"},
		{header:'赠送者部门', name:'presenterDepartment', index:'a.presenter_department',sortable:false, width:150, align:"left"},
		{header:'赠币数量', name:'coinNumber', index:'a.coin_number', width:150, align:"center"},
		{header:'理由', name:'content', index:'a.content', width:150, align:"left"},
		{header:'标签', name:'tag', index:'a.tag', width:150, align:"left"},
		{header:'获赞次数', name:'praiserNumber', index:'a.praiser_number', width:150, align:"center"},
		{header:'照片', name:'imgUrl', index:'a.img_url', width:150, align:"left"},
		{header:'赞币总数量', name:'coinCount', index:'a.coin_count', width:150, align:"center"},
		{header:'创建时间', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'状态', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'备注', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('appreciation:fzAppreciationRecord:edit')){ %>
				actions.push('<a href="${ctx}/fz/ding/dingUser/fzAppreciationRecord/delete?appreciationCode='+row.appreciationCode+'" class="btnList" title="${text('删除赞赏记录表')}" data-confirm="${text('确认要删除该赞赏记录表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
    shrinkToFit:false,
    autoScroll:true,
    autowidth:true,
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
$('#btnExport').click(function(){
    js.ajaxSubmitForm($('#searchForm'), {
        url:'${ctx}/fz/appreciation/fzAppreciationRecord/exportData?type=1',
        downloadFile:true
    });
});
$('#btnExport1').click(function(){
    js.ajaxSubmitForm($('#searchForm'), {
        url:'${ctx}/fz/appreciation/fzAppreciationRecord/exportData?type=2',
        downloadFile:true
    });
});
</script>