<% layout('/layouts/default.html', {title: 'tb_item管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(tbItem.isNewRecord ? '新增tb_item' : '编辑tb_item')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbItem}" action="${ctx}/tianmao/tbItem/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="numIid"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品地址URL：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="detailUrl" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品标题：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="title" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 卖家昵称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="nick" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品类型：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="type" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品所属的叶子类目 id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="cid" maxlength="64" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品所属的店铺内卖家自定义类目列表：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sellerCids" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品属性：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="props" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 用户自行输入的类目属性ID串：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inputPids" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 用户自行输入的子属性名和属性值：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inputStr" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品描述：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="desc" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品主图片地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="picUrl" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="num" maxlength="64" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 有效期：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="validThru" maxlength="64" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 上架时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="listTime" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 下架时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delistTime" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品价格：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="price" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 平邮费用：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="postFee" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 快递费用：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="expressFee" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ems费用：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="emsFee" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品修改时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="modified" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品上传后的状态。onsale出售中，instock库中：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="approveStatus" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 商品的重量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="itemWeight" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('tianmao:tbItem:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>