<% layout('/layouts/default.html', {title: '零售家产品详情管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(screenProduct.isNewRecord ? '新增零售家产品详情' : '编辑零售家产品详情')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${screenProduct}" action="${ctx}/screen/screenProduct/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('产品编码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">

								<#form:hidden path="isNewRecord"/>
								<#form:input path="productCode" maxlength="64" readonly="true" class="form-control required abc"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('产品名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:input path="productName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('企业编码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:listselect id="screenEnterprise" title="企业"
								path="enterpriseCode" labelPath="screenEnterprise.enterpriseName" itemCode="enterpriseCode" itemName="enterpriseName"
								url="${ctx}/screen/screenEnterprise/enterpriseSelect" allowClear="true" class="form-control required"/>
								<#form:hidden path="enterpriseName" id="enterpriseName" maxlength="128" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('产品图片')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${screenProduct.productCode}" bizType="screenProduct_image" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('screen:screenProduct:edit')){ %>
						<button type="button" class="btn btn-sm btn-primary btnSubmit" onclick="save(this)"><i class="fa fa-check"></i> ${text('保 存')}</button>
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" style="display: none"><i class="fa fa-check"></i> ${text('保 存')}</button>
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
function listselectCallback(id, action, index, layero, selectData) {
    if (id == "screenEnterprise") {
        $.each(selectData, function(key, value){
            $('#enterpriseName').val(value.enterpriseName);
        });
    }
}
function save(t) {
    $(t).attr('disabled','disabled')
    $.fn.webUpLoaderFun(function(code){
        if(code === 200){
            $('#btnSubmit').trigger('click')
        }else{
            $(t).attr('disabled','')
        }
    })
}
</script>