<% layout('/layouts/default.html', {title: '零售家企业管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('零售家企业管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('screen:screenEnterprise:edit')){ %>
					<a href="${ctx}/screen/screenEnterprise/form" class="btn btn-default btnTool" title="${text('新增零售家企业')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${screenEnterprise}" action="${ctx}/screen/screenEnterprise/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('企业编码')}：</label>
					<div class="control-inline">
						<#form:input path="enterpriseCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('企业名称')}：</label>
					<div class="control-inline">
						<#form:input path="enterpriseName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('企业编码')}', name:'enterpriseCode', index:'a.enterprise_code', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/screen/screenEnterprise/form?enterpriseCode='+row.enterpriseCode+'" class="btnList" data-title="${text('编辑零售家企业')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('企业名称')}', name:'enterpriseName', index:'a.enterprise_name', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:20, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('screen:screenEnterprise:edit')){ %>
				actions.push('<a href="${ctx}/screen/screenEnterprise/form?enterpriseCode='+row.enterpriseCode+'" class="btnList" title="${text('编辑零售家企业')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/screen/screenEnterprise/delete?enterpriseCode='+row.enterpriseCode+'" class="btnList" title="${text('删除零售家企业')}" data-confirm="${text('确认要删除该零售家企业吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>