<% layout('/layouts/default.html', {title: '定时任务调度表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('定时任务调度表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('job:sysJob:edit')){ %>
					<a href="${ctx}/job/sysJob/form" class="btn btn-default btnTool" title="${text('新增定时任务调度表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${sysJob}" action="${ctx}/job/sysJob/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('任务名称')}：</label>
					<div class="control-inline">
						<#form:input path="jobName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('任务方法')}：</label>
					<div class="control-inline">
						<#form:input path="methodName" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('方法参数')}：</label>
					<div class="control-inline">
						<#form:input path="methodParams" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('cron执行表达式')}：</label>
					<div class="control-inline">
						<#form:input path="cronExpression" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('计划执行错误策略')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:select path="misfirePolicy" dictType="sys_job_misfire_instruction" maxlength="20" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('任务名称')}', name:'jobName', index:'a.job_name', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/job/sysJob/form?jobId='+row.jobId+'" class="btnList" data-title="${text('编辑定时任务调度表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('任务组名')}', name:'jobGroup', index:'a.job_group', width:150, align:"center"},
		{header:'${text('任务方法')}', name:'methodName', index:'a.method_name', width:150, align:"center"},
		{header:'${text('方法参数')}', name:'methodParams', index:'a.method_params', width:150, align:"center"},
		{header:'${text('cron执行表达式')}', name:'cronExpression', index:'a.cron_expression', width:150, align:"center"},
		{header:'${text('计划执行错误策略')}', name:'misfirePolicy', index:'a.misfire_policy', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_job_misfire_instruction')}, val, '${text('未知')}', true);
            }},
		{header:'${text('状态')}', name:'jobStatus', index:'a.job_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		// {header:'${text('备注信息')}', name:'remark', index:'a.remark', width:150, align:"left"},
		// {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('jobtask:sysJob:edit')){ %>
		// 		actions.push('<a href="${ctx}/jobtask/sysJob/form?jobId='+row.jobId+'" class="btnList" title="${text('编辑定时任务调度表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
		// 		actions.push('<a href="${ctx}/jobtask/sysJob/delete?jobId='+row.jobId+'" class="btnList" title="${text('删除定时任务调度表')}" data-confirm="${text('确认要删除该定时任务调度表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	<% } %>
		// 	return actions.join('');
		// }}
        {header:'操作', name:'actions', width:110, sortable:false, title:false, formatter: function(val, obj, row, act){
                var actions = [], params = 'jobName='+encodeURIComponent(row.jobName)+'&jobGroup='+encodeURIComponent(row.jobGroup);
            <% if(hasPermi('job:sysJob:edit')){ %>
                    if (row.jobStatus == '2'/*暂停*/){
                        actions.push('<a href="${ctx}/job/sysJob/resume?jobId='+row.jobId+'" class="btnList" title="恢复作业" data-confirm="确认要恢复该作业吗？"><i class="fa fa-play"></i></a>&nbsp;');
                    }else{
                        actions.push('<a href="${ctx}/job/sysJob/pause?jobId='+row.jobId+'" class="btnList" title="暂停作业" data-confirm="确认要暂停该作业吗？"><i class="fa fa-pause"></i></a>&nbsp;');
                    }
                    actions.push('<a href="${ctx}/job/sysJob/run?jobId='+row.jobId+'" class="btnList" title="立即运行一次" data-confirm="确认要立即运行一次该作业吗？"><i class="fa fa-forward"></i></a>&nbsp;');
                    actions.push('<a href="${ctx}/job/sysJob/delete?jobId='+row.jobId+'" class="btnList" title="${text('删除作业调度表')}" data-confirm="${text('确认要删除该作业调度表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                <% } %>
                actions.push('<a href="${ctx}/job/sysJobLog/list?jobName='+row.jobName+'&jobGroup='+row.jobGroup+'&methodName='+row.methodName+'" class="btnList" title="监控调度日志"><i class="fa fa-file-text-o"></i></a>&nbsp;');
                return actions.join('');
            }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>