<% layout('/layouts/default.html', {title: '梵赞兑换订单表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('梵赞兑换订单表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('order:fzNeigouOrder:edit')){ %>
					<!--<a href="${ctx}/order/fzNeigouOrder/form" class="btn btn-default btnTool" title="${text('新增梵赞兑换订单表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<% } %>
				<% if(hasPermi('order:fzNeigouOrder:export')){ %>
				<div class="btn-group">
					<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-navicon"></i> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a></li>
					</ul>
				</div>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${fzNeigouOrder}" action="${ctx}/order/fzNeigouOrder/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('订单号')}：</label>
					<div class="control-inline">
						<#form:input path="orderId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户名')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('支付状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="payStatus" blankOption="true" dictType="fz_neigou_order_payStatus" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="orderStatus" blankOption="true" dictType="fz_neigou_order_status" class="form-control"/>
					</div>
				</div>
				<div class="form-group" style="display: none">
					<label class="control-label">${text('')}：</label>
					<div class="control-inline">
						<#form:input path="query" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
					<button type="button" onclick="update()" class="btn btn-primary btn-sm">${text('更新最新数据')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text('订单号')}', name:'orderId', index:'a.order_id', width:150, align:"center",formatter: function(val, obj, row, act){
                return '<a href="${ctx}/order/fzNeigouOrder/list?orderId='+row.orderId+'&query=1" class="btnList" data-title="${text('查看子订单详情')}">'+(val||row.id)+'</a>';
            }},
        {header:'${text('用户名')}', name:'userName', index:'a.user_name', width:150, align:"left"},
		{header:'${text('支付状态 ')}', name:'payStatus', index:'a.pay_status', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('fz_neigou_order_payStatus')}, val, '${text('未知')}', true);
		}},
		{header:'${text('订单状态 ')}', name:'orderStatus', index:'a.order_status', width:150, align:"left",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('fz_neigou_order_status')}, val, '${text('未知')}', true);
            }},
        {header:'${text('pId')}', name:'pId',hidden:true, index:'a.p_id', width:150, align:"center"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		// {header:'${text('商品sku_id')}', name:'bn', index:'a.bn', width:150, align:"left"},
		// {header:'${text('兑换数量')}', name:'nums', index:'a.nums', width:150, align:"center"},
        {header:'${text('收货人')}', name:'shipName', index:'a.ship_name', width:150, align:"left"},
		{header:'${text('收货人电话')}', name:'receiverMobile', index:'a.receiver_mobile', width:150, align:"left"},
		{header:'${text('收货地址')}', name:'detailAddress', index:'a.detail_address', width:150, align:"left"},
		{header:'${text('收货省')}', name:'province', index:'a.province', width:150, align:"left"},
		{header:'${text('收货市')}', name:'city', index:'a.city', width:150, align:"left"},
		{header:'${text('收货县')}', name:'county', index:'a.county', width:150, align:"left"},
		{header:'${text('收货城镇')}', name:'town', index:'a.town', width:150, align:"left"},
		{header:'${text('订单金额(现金)')}', name:'money', index:'a.money', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, '0.00'); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('订单金额(梵钻)')}', name:'fzNum', index:'a.fz_num', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
        {header:'${text('退回梵钻')}', name:'refundNum', index:'a.refundNum', width:150, align:"right", formatter: function(val, obj, row, act){
                return js.formatNumber(val, 2, false, '0.00'); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
            }},
		{header:'${text('发货状态')}', name:'shipStatus', index:'a.ship_status', width:150, align:"left",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('fz_neigou_order_ship_status')}, val, '${text('未知')}', true);
            }},

        {header:'操作', name:'actions', width:110, sortable:false, title:false, formatter: function(val, obj, row, act) {
                var actions = [];
                actions.push('<a href="${ctx}/order/fzNeigouOrderItem/list?orderId=' + row.orderId + '" class="btnList" title="查看订单商品"><i class="fa fa-file-text-o"></i></a>&nbsp;');
                return actions.join('');
            }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
	//手动更新内购订单数据
	function update() {
		$.ajax({
			url:'${ctx}/order/fzNeigouOrder/updateOrderIno',
			type:'GET',
            success:function (result) {
                var obj = JSON.parse(result);
                if (obj.result == 'true') {
                    js.showMessage(obj.message)
                    window.location.reload()
                } else {
                    js.showMessage(obj.message)
                }
            }
        })
    }
$('#btnExport').click(function(){
    js.ajaxSubmitForm($('#searchForm'), {
        url:'${ctx}/order/fzNeigouOrder/exportData',
        downloadFile:true
    });
});
</script>