<% layout('/layouts/default.html', {title: '导购购物车管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('导购购物车管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('order:amOrderShopping:edit')){ %>
					<a href="${ctx}/order/amOrderShopping/form" class="btn btn-default btnTool" title="${text('新增导购购物车')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${amOrderShopping}" action="${ctx}/order/amOrderShopping/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('导购昵称')}：</label>
					<div class="control-inline">
						<#form:input path="guideName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商品sku')}：</label>
					<div class="control-inline">
						<#form:input path="outerId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="goodsStatus" dictType="goods_shopping_status" blankOption="true" maxlength="64" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('导购昵称')}', name:'guideName', index:'a.guide_name', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/order/amOrderShopping/form?seq='+row.seq+'" class="btnList" data-title="${text('编辑导购购物车')}">'+(val||row.id)+'</a>';
		}},
		// {header:'${text('商品id')}', name:'numIid', index:'a.num_iid', width:150, align:"left"},
		{header:'${text('商品名称')}', name:'title', index:'a.title', width:150, align:"center"},
        {header:'${text('店铺')}', name:'storeName', index:'a.store_name', width:150, align:"center"},
		// {header:'${text('skuId')}', name:'skuId', index:'a.sku_id', width:150, align:"left"},
		{header:'${text('商品sku')}', name:'outerId', index:'a.outer_id', width:150, align:"center"},
		{header:'${text('规格名称')}', name:'properties', index:'a.properties', width:150, align:"left"},
		{header:'${text('数量')}', name:'num', index:'a.num', width:150, align:"center"},
		{header:'${text('商品单价')}', name:'price', index:'a.price', width:150, align:"right"},
		{header:'${text('状态')}', name:'goodsStatus', index:'a.goods_status', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('goods_shopping_status')}, val, '${text('')}', true);
            }},
		{header:'${text('创建时间')}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		// {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('order:amOrderShopping:edit')){ %>
		// 		actions.push('<a href="${ctx}/order/amOrderShopping/form?seq='+row.seq+'" class="btnList" title="${text('编辑导购购物车')}"><i class="fa fa-pencil"></i></a>&nbsp;');
		// 		actions.push('<a href="${ctx}/order/amOrderShopping/delete?seq='+row.seq+'" class="btnList" title="${text('删除导购购物车')}" data-confirm="${text('确认要删除该导购购物车吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
		// 	<% } %>
		// 	return actions.join('');
		// }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>