<% layout('/layouts/default.html', {title: '订单管理管理', libs: ['validate','dataGrid']}){ %>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="https://uvanhd.uvanart.com/jqprint/print.css" rel="stylesheet"type="text/css" media="all"/>
    </head>
    <body>
    <div class="center" style="text-align: center;margin: 25px 0">
    <input type="button" class="btn btn-default" onclick="aa()" value="${text('打 印')}"/>
    <button type="button" class="btn btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
    </div>
    <div id="printBody">
        <div>
            <img src="https://after-sales-photo.oss-cn-shanghai.aliyuncs.com/stores/after-ales-photo/data/2af4feb7c8594a5998c5c49841912796" class="logo"></img>
            <table class="tg" style="table-layout: fixed; width: 839px">
                <colgroup>
                    <col style="width: 46px">
                    <col style="width: 114px">
                    <col style="width: 272px">
                    <col style="width: 90px">
                    <col style="width: 54px">
                    <col style="width: 104px">
                    <col style="width: 90px">
                    <col>
                </colgroup>
                <tr>
                    <th class="tg-y7gf" colspan="8"><span style="font-weight:bold">商品清单</span></th>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="2"></td>
                    <td class="tg-us36">客户ID：${orderPrint.customerName}</td>
                    <td class="tg-us36" colspan="2"></td>
                    <td class="tg-us36">下单日期：</td>
                    <td class="tg-us36" colspan="2">${orderPrint.createDate}</td>
                </tr>
                <tr>
                    <td class="tg-7btt">NO</td>
                    <td class="tg-7btt"> 物料编码 </td>
                    <td class="tg-7btt">名称规格</td>
                    <td class="tg-7btt"> 单价 </td>
                    <td class="tg-7btt">数量</td>
                    <td class="tg-7btt"> 金额 </td>
                    <td class="tg-7btt"> 折扣后价格 </td>
                    <td class="tg-7btt">备注</td>
                </tr>
                <%
                var i =0;
                for(item in orderPrint.item){
                i++;
                %>
                <tr>
                    <td class="tg-c3ow">${i}</td>
                    <td class="tg-c3ow">${item.sku}</td>
                    <td class="tg-us36">${item.goodsName}<br>${item.spec}</td>
                    <td class="tg-us36"> ¥ ${item.price}</td>
                    <td class="tg-c3ow">${item.count}</td>
                    <td class="tg-us36"> ¥ ${item.amount}</td>
                    <td class="tg-us36"> ¥ ${item.discountAmt}</td>
                    <td class="tg-us36"></td>
                </tr>
                <%}%>
                <%
                var lest = 20-i;
                var size = orderPrint.size;
                for(var j= 1;j<=lest ;j++){
                    if (i == size) {
                        break;
                     }
                %>
                <tr>
                    <td class="tg-c3ow">${j+i}</td>
                    <td class="tg-c3ow"></td>
                    <td class="tg-us36"></td>
                    <td class="tg-us36"> ¥ -</td>
                    <td class="tg-c3ow"></td>
                    <td class="tg-us36"> ¥ - </td>
                    <td class="tg-us36"> ¥ -</td>
                    <td class="tg-us36"> 　</td>
                </tr>
                <%}%>
                <tr>
                    <td class="tg-us36" colspan="3">来源：${orderPrint.customerSource}</td>
                    <td class="tg-us36" colspan="2">　商品总额：</td>
                    <td class="tg-us36">¥ ${orderPrint.totalPrice}</td>
                    <td class="tg-us36"></td>
                    <td class="tg-us36"></td>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="3">优惠方式：</td>
                    <td class="tg-us36" colspan="2">　优惠金额：</td>
                    <td class="tg-us36">¥ ${orderPrint.preferential}</td>
                    <td class="tg-us36"></td>
                    <td class="tg-us36"></td>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="3">备注：${orderPrint.remarks}</td>
                    <td class="tg-us36" colspan="2">　物流/安装费：</td>
                    <td class="tg-us36">¥ ${orderPrint.installFee}</td>
                    <td class="tg-us36"></td>
                    <td class="tg-us36"></td>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="3">由于家具是特殊定制产品，如个人原因退货如签收超出8天（含8天）不接受退换，签收7天之内退需承担产品包装材料费并承担家具退回来运费。</td>
                    <td class="tg-us36" colspan="2">　订单合计：</td>
                    <td class="tg-us36">¥ ${orderPrint.totalFee} </td>
                    <td class="tg-us36"></td>
                    <td class="tg-us36"></td>
                </tr>
            </table>
            <!--<div style="page-break-after:always"></div>-->
            <table class="tg" style="table-layout: fixed; width: 839px">
                <colgroup>
                    <col style="width: 46px">
                    <col style="width: 114px">
                    <col style="width: 272px">
                    <col style="width: 90px">
                    <col style="width: 54px">
                    <col style="width: 104px">
                    <col style="width: 73px">
                    <col style="width: 86px">
                </colgroup>
                <!--<tr>-->
                    <!--<th class="tg-us36" colspan="8">　</th>-->
                <!--</tr>-->
                <tr>
                    <td class="tg-us36" colspan="8">1、本《商品清单》为客户在体验店进行商品订购凭证，本清单一式三份，客户、导购与商家各执一份；<br>
                        2、客户在商品订购前，应对所订购的产品的所有信息进行充分的了解，商品的详情可以通过商品标识或向现场导购人员了解；<br>
                        3、客户确认本《商品清单》后，建议不要随意提出变更商品这请求，以免导致发货时间延误、二次购物成本增加等情况，造成客户不必要的损失；<br>
                        4、客户应保存好本《商品清单》，若客户不慎损失，将会带来收货、退换货及结算的风险；<br>
                        5、为确保您的权益，请在收货时立刻检查产品，如有问题请在24小时内联系我司协助解决；如正常签收，我们将视为您认同并接受货物。如超时反馈可能需要您承担部分责任，同时给您的收货带来不必要的麻烦。<br>
                        6、优梵艺术家具的正常发货时间为30-60个工作日，特殊款为90个工作日； <br>
                        7、若发生退换货，导致家具部分优惠改变，订单整体优惠需要重新计算 </td>
                </tr>
                <!--<tr>-->
                    <!--<td class="tg-us36" colspan="8">2、客户在商品订购前，应对所订购的产品的所有信息进行充分的了解，商品的详情可以通过商品标识或向现场导购人员了解；</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="tg-us36" colspan="8">3、客户确认本《商品清单》后，建议不要随意提出变更商品这请求，以免导致发货时间延误、二次购物成本增加等情况，造成客户不必要的损失；</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="tg-us36" colspan="8">4、客户应保存好本《商品清单》，若客户不慎损失，将会带来收货、退换货及结算的风险；</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="tg-us36" colspan="8">5、为确保您的权益，请在收货时立刻检查产品，如有问题请在24小时内联系我司协助解决；如正常签收，我们将视为您认同并接受货物。如超时反馈可能需要您承担部分责任，同时给您的收货带来不必要的麻烦。</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="tg-us36" colspan="8">6、优梵艺术家具的正常发货时间为30-60个工作日，特殊款为90个工作日</td>-->
                <!--</tr>-->
                <tr>
                    <td class="tg-us36" colspan="2"> 收货人： </td>
                    <td class="tg-us36">${orderPrint.collectBy}</td>
                    <td class="tg-us36" colspan="2"> 最早收货时间：</td>
                    <td class="tg-us36" colspan="3"></td>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="2"> 联系电话： </td>
                    <td class="tg-us36">${orderPrint.mobile} </td>
                    <td class="tg-us36" colspan="2"> 客户签字： </td>
                    <td class="tg-us36" colspan="3"></td>
                </tr>
                <tr>
                    <td class="tg-us36" colspan="2"> 收货地址： </td>
                    <td class="tg-us36" colspan="6">${orderPrint.receiveAddress}</td>
                </tr>
            </table>
        </div>
    </div>
    <% } %>
    <script language="javascript" src="https://uvanhd.uvanart.com/jquerysc/jquery-1.4.4.min.js"></script>
    <script language="javascript" src="https://uvanhd.uvanart.com/jqprint/jqprint-0.3.js"></script>
   
    

    <script>
        function aa(){
            $("#printBody").jqprint({
                debug: false,
                importCSS: true , //将此属性改为false；直接在style中写入样式即可
                printContainer: true,
                operaSupport: true
            });
        }
    </script>
    </body>
    </html>
    