<% layout('/layouts/default.html', {title: '员工资料表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('员工资料表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default active" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('staff:amStaff:edit')){ %>
					<a href="${ctx}/staff/amStaff/form" class="btn btn-default btnTool" title="${text('新增员工资料表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${amStaff}" action="${ctx}/staff/amStaff/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">所属部门：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="office" title="${text('部门选择')}"
							path="office.officeCode" labelPath="office.officeName"
							url="${ctx}/sys/office/treeData" class="required" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">员工编号：</label>
					<div class="control-inline">
						<#form:input path="staffCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">员工名称：</label>
					<div class="control-inline">
						<#form:input path="staffName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">中文名：</label>
					<div class="control-inline">
						<#form:input path="chName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">岗位：</label>
					<div class="control-inline width-120">
						<#form:select name="postCode" items="${postList}"
						itemLabel="postName" itemValue="postCode" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">职位级别：</label>
					<div class="control-inline width-120">
						<#form:select path="positionLevel" dictType="am_position_level" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>

<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'所属部门', name:'office.officeName', index:'b.office_name', width:150, align:"center"},
		{header:'员工编号', name:'staffCode', index:'a.staff_code', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
                return '<a href="${ctx}/staff/amStaff/form?staffCode='+row.staffCode+'" class="btnList" data-title="${text('编辑员工资料表')}">'+(val||row.id)+'</a>';
            }},
		{header:'员工名称', name:'staffName', index:'a.staff_name', width:150, align:"center"},
		{header:'中文名', name:'chName', index:'a.ch_name', width:150, align:"center"},
		{header:'职位级别', name:'positionLevel', index:'a.position_level', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('am_position_level')}, val, '${text('未知')}', true);
		}},
		{header:'岗位', name:'postName',sortable:false,width:150, align:"center"},
		{header:'性别', name:'sex', index:'a.sex', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_user_sex')}, val, '${text('未知')}', true);
		}},
		{header:'手机号码', name:'phoneCode', index:'a.phone_code', width:150, align:"center"},
		{header:'电子邮箱', name:'email', index:'a.email', width:150, align:"center"},
		{header:'创建者', name:'createBy', index:'a.create_by', width:150, align:"center"},
		{header:'创建时间', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'更新者', name:'updateBy', index:'a.update_by', width:150, align:"center"},
		{header:'更新时间', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('staff:amStaff:edit')){ %>
				actions.push('<a href="${ctx}/staff/amStaff/form?staffCode='+row.staffCode+'" class="btnList" title="${text('编辑员工资料表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/staff/amStaff/disable?staffCode='+row.staffCode+'" class="btnList" title="${text('停用员工资料表')}" data-confirm="${text('确认要停用该员工资料表吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/staff/amStaff/enable?staffCode='+row.staffCode+'" class="btnList" title="${text('启用员工资料表')}" data-confirm="${text('确认要启用该员工资料表吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/staff/amStaff/delete?staffCode='+row.staffCode+'" class="btnList" title="${text('删除员工资料表')}" data-confirm="${text('确认要删除该员工资料表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>